<h1>Bio-Pesticide Game</h1>


<h2>{{ player.name }}: <a href="nextplayer/">Next Player</a></h2>
<b> Funds: $</b>{{ player.money }}
<br>
<b> Seeds: </b>{{ player.seeds }}
<br>
<b> Unsold Crops: </b>{{ player.crops }}
<br>
<b> Growth Impact: </b>{{ player.growth_impact }}
<br>
<b> Quality Impact: </b>{{ player.quality_impact }}
</p>
<br>

<h3>Farms</h3>
<table border="1">
<tr>
      <th></th>
      <th>Size</th>
      <th>Crop Status</th>
      
{% for farm in farms %}
<tr>
        <td>
                {% if farm.growing == False %}
                <p><a href="buy_land/{{ farm.id }}">Buy</a> / <a href="sell_land/{{ farm.id }}">Sell</a></p>
                {% else %}
                <a href="sell_land/{{ farm.id }}">Sell</a>
                {% endif %}
        </td>
        <td>{{ farm.size }}</td>
        <td>{{ farm.crop_status }}</td>
        {% if farm.growing == True %}
        <td><a href="harvest/{{ farm.id }}">Kill Crops</a></td>
        {% elif farm.crop_status == 100 %}
        <td><a href="harvest/{{ farm.id }}">Havest</a></td>
        {% else %}
        <td><a href="plant/{{ farm.id }}">Plant</a></td>
        {% endif %}

        <td><a href="sellfarm/{{ farm.id }}">Sell Farm</a></td>
</tr>
{% endfor %}
<tr>
        <td><a href="buyfarm/{{ player.id }}">Buy Farm: ${{ game.farm_price }}</a></td>
</tr>
</table>
<br>
<p><a href="sellcrops/{{ player.id }}">Sell Crops</a>: ${{ game.crop_price }}
<br>
<a href="buyseeds/{{ player.id }}">Buy Seeds</a>: ${{ game.seed_price }}</p>
<br><br>
<a href="endgame/">End Game</a>






