<h1>Bio-Pesticide Game</h1>

<table border="1">
        <tr>
                <th></th>
                <th>Players</th>
        </tr>
        {% for player in players %}
        <tr>
                <td><a href="deleteplayer/{{ player.id }}">delete</a></td>
                <td>{{ player.name }}</td>
        </tr>
        {% endfor %}
</table>
<br>

<form action="addplayer/" method="post">
{% csrf_token %}
Player Name:<br>
<input name="name">
<br><br>
<input type="submit" value="Add Player">
</form>

<br>
<a href="startgame/">Start Game</a>
